.a-form
  max-width 425px
  margin: 0 auto
  &__row
    &:not(:last-child)
      margin-bottom: .6rem
  &__input
    box-sizing border-box
    width: 100%
    padding: .2rem
  &__btn
    padding: 0 .2rem
    margin-right: .4rem
    & > i
      font-size: 1.2rem
